PyQt6==6.9.0
PyQt6-QScintilla==2.14.1
PyQt6-Qt6==6.9.0
PyQt6-WebEngine==6.9.0
PyQt6-WebEngine-Qt6==6.9.0
PyQt6_sip==13.10.0
beautifulsoup4==4.13.3
httpx==0.28.1
jieba==0.42.1
openpyxl==3.1.5
pillow==11.1.0
pynput==1.7.6
python-docx==1.1.2
python-dotenv==1.0.1
python-pptx==1.0.2
PyMuPDF==1.25.5
pyinstaller==6.0.0
pyinstaller-hooks-contrib==2024.9
qtawesome==1.4.0
requests==2.32.3
selenium==4.25.0
watchdog==3.0.0
webdriver-manager==4.0.2 
Markdown==3.7
numpy==2.2.4
matplotlib==3.10.1
wordcloud==1.9.4
